html {
margin:0;
height:100vh;
font-family: 'Noto Sans', sans-serif;
}

body {
font-family: 'Noto Sans', sans-serif;
background-color: var(--bg);
width:100%;
height:100vh;
border:1px solid rgba(0,0,0,.0);
box-sizing:border-box;
color:var(--defaulttext);
text-align:center;
max-width: 100%;
overflow-x: hidden;
}

a {
text-decoration: none;
}

a:link, a:visited{
color: var(--link);
}

a:hover {
color: var(--link-hover);
}

.back {
text-align:left;
user-select: none;
color:var(--navicon);

}

.back:link, .back:visited{
color: var(--navicon);

}

.back:hover {
color: var(--navicon-hover);

}

p {
width:100%;
word-wrap: break-word;
white-space: pre-line;
display: inline-block;
}

.selbox {
border: 3px solid black;
width:50%;
background-color:black;
}

.uhm {
color: gray;
font-size: 12;
}

hr {
border: 3px solid var(--bg3);
}

.tophr {
border: 2px solid var(--tophr);
margin: -10px -10px 20px;

}

img {

max-width: 90%;
max-height: 1000px;
width: auto;
height: auto;
user-select: none;

}

.pixelimg {
-ms-interpolation-mode: nearest-neighbor;
image-rendering: crisp-edges;
image-rendering: pixelated;
}

video {
max-width: 90%;
max-height: 1000px;
width: auto;
height: auto;
}

/* fucking love that youre happy but fuck youre a pain past alice */
.emote {
width: 64px;
max-width: 64px;
min-width: 64px;
}

.text{
display: inline-block;
word-break: break-word;
white-space: pre-line;
border-radius: 5vmax 5vmax 0 0;
margin: auto;
width:85%;
min-height:100vh;
background-color: var(--bg2);
background-size: 100%;
border: 10px solid var(--bg3);
color:var(--text);
text-align:center;
border-bottom: none;
}

.paddingdiv {
padding: 5px;
padding-bottom:13px;
display:inline-block;
}

.daybooton:link, .daybooton:visited{
border:5px solid rgba(0,0,0,.0);
background-color:var(--daybutton-main);
color: var(--daybutton-text);
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
user-select:none;
}

.daybooton:hover {
background-color:var(--daybutton-hover);
}



bi {
font-weight:bold;
font-style: italic;
}

blink {
animation: blinker 1.5s step-start infinite;
}

@keyframes blinker {
50% {
opacity: 0.3;
}

}

.totop {
text-align:center;
bottom: 35;
}

audio {
width:60%;
}


#navbar a {
margin-right: 10px; /* Adjust the spacing as needed */
}

::selection {
color: var(--select-text);
background: var(--select);
}

code {
display: inline-block;
text-align:left;
border-radius: 2vmax;
margin: auto;
min-width:20%;
max-width:95%;
background-color: var(--code-bg);
border: 2px ridge var(--code-border);
color:var(--code-text);
padding-bottom:15;
padding-top:15;
padding-left:10;
padding-right:10;
font-family: 'Source Code Pro', monospace;
font-size:14;
}

code::selection {
color: var(--code-select-text);
background-color:var(--code-select);
}
.codesel::selection {
color: var(--code-select-text);
background-color:var(--code-select);
}

input[type=text], textarea {
border-radius: 1vmax;
background-color: var(--input-text);
border: 3px ridge var(--input-text-border);
color: var(--input-text-color);
font-family: 'Source Code Pro', monospace;
text-decoration: none;
}

input[type=text]::placeholder {
color: var(--input-text-temp);
}



iframe {
max-width:90%;
}

.center-screen {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
min-height: 100vh;
}

button {
border-radius: 5px;
background-color: var(--button);
border: 3px solid var(--button);
color: var(--button-text);
font-family: 'Source Code Pro', monospace;
text-decoration: none;
}

button:hover  {
background-color: var(--button-hover);
border: 3px solid var(--button-hover);
}

button:active {
background-color: var(--button-hover);
border: 3px solid var(--button-hover);
}

.files{
word-break: break-word;
border-radius: 0 5vmax 5vmax 0;
min-width:15%;
max-width:85%;
padding-right:50px;
background-color: var(--bg2);
background-size: 100%;
border: 10px solid var(--bg3);
color:var(--text);
text-align:left;
float:left;
border-left:none;
margin: -10px -10px 20px;
}

.filecontentborder {
background-image: var(--filebg);
border-radius: 1vmax 1vmax 1vmax 1vmax;
border: 7px solid var(--bg3);
}

.daybooton-inval {
border:5px solid rgba(0,0,0,.0);
background-color:var(--daybutton-invalid);
color:var(--daybutton-invalid-text);
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
user-select: none;
cursor: default;
}

.daybooton-inval:hover {
background-color:var(--daybutton-invalid);
color:var(--daybutton-invalid-text);
}


.daybooton-end:link, .daybooton-end:visited{
background-color:var(--daybutton-end);

}

.daybooton-end:hover {
background-color: var(--daybutton-end-hover);

}

model-viewer {
  margin:auto;
  width:50%;
  height:auto;
  aspect-ratio: 1/1;
  background-image:url('transparency.png');
}

.squeezebooton {
    width:40%;
    margin:auto
}

@media screen and (max-width: 1280px){
.text {
background-color: rgba(0,0,0,.0);
border: 0px solid rgba(0,0,0,.0);
width:100%;
}

.files {
border-radius: 0 0 0 0;
width:100%;
min-width:100%;
background-color: rgba(0,0,0,.0);
border: 0px solid rgba(0,0,0,.0);
color:var(--text);
text-align:center;
float:none;
padding-right:0px;
}

code {
max-width:85%;
word-break: break-word;
white-space: pre-line;
}

model-viewer {
  width:90%;
  height:auto;
  aspect-ratio: 1/1;
}
.squeezebooton {
    width:90%;
}
}

.pdf {
height:1056px;
width:816px;
aspect-ratio: 9/10;
}

table, th, td {
  border:1px solid var(--table-border);
  background-color:var(--table-bg);
  color:var(--table-text);
  margin:auto;
  text-align:center;

}

select {
border-radius: 1vmax;
background-color: var(--selection);
border: 3px ridge var(--selection-border);
color: var(--selection-text);
font-family: 'Source Code Pro', monospace;
text-decoration: none;
}

.note {
    background-color:#2e2304;
    max-width:50%;
    min-width:15%;
    margin:auto;
    border: 2px solid #86630b;
    border-radius: 1vmax 1vmax 1vmax 1vmax;

}

.note hr {
border: 1px solid #86630b;
}

.note::selection {
    background-color:#ffc923;
}

spoiler {
background-color: var(--spoiler);
color: rgba(0,0,0,0);
cursor: pointer;
user-select:none;
display:inline-block;
border:5px solid rgba(0,0,0,.0);
border-radius: 2vmax 2vmax 2vmax 2vmax;
max-width:90%;
}

spoiler img {
opacity:0;
}

spoiler a:link, spoiler a:visited, spoiler a:hover{
color:rgba(0,0,0,0);
}

.spoiler-revealed {
color: var(--spoiler-text);
background-color: var(--spoiler-revealed);
}

.spoiler-revealed img {
opacity:1;
}

.spoiler-revealed a:link, .spoiler-revealed a:visited{
color: var(--link);
}

.spoiler-revealed a:hover {
color: var(--link-hover);
}


progress[value] {


  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px ridge var(--progress-border);
  border-radius: 1em;
  height:5px;
  background: var(--progress-bg);
}
progress[value]::-moz-progress-bar {
  background: var(--progress-color);
  border-right: 2px solid var(--loading-border);
}
